@import url('https://fonts.googleapis.com/css2?family=Fraunces&family=Lato&family=Yusei+Magic&display=swap');

img{
	position:absolute;
	}
#background {
  background-image:  url('bg1.jpg');
  background-size:cover;
  width: 900px;
  height: 650px;
  position: absolute;
  left: 0px;
  top: 0px;
  
}
#background, img {
cursor:crosshair;
}
.enemy {
  background-image: url('star.png');
  background-size:cover;
  width: 40px;
  height: 40px;
  position: absolute;
  
}

#bomb{
margin-top:-3%;
margin-left -8%;
display:none;
}
#hero {
  color: #ffffff;
  font-size: 18pt;
  position: absolute;
  left: 200px;
  top: 20px;
   font-family:'Yusei Magic', serif;
}
#score {
  color: #ffffff;
  font-size: 18pt;
  position: absolute;
  left: 20px;
  top: 20px;
   font-family:'Yusei Magic', serif;
}
#gameover {
  color: #ff0000;
  font-size: 60px;
  position: absolute;
  top: 200px;
  font-family:'Yusei Magic', serif;
  visibility: hidden;
  width: 900px;
  text-align: center;
}
#win {
  color: #ffcf21;
  font-size: 60px;
  position: absolute;
  top: 200px;
  font-family:'Yusei Magic', serif;
  visibility: hidden;
   width: 900px;
  text-align: center;
}

div#title {
    width: 460px;
    position: absolute;
    right: 0px;
    background-color: #000;
    height: 650px;
    top: 0px;
    color: #fff;
    font-family: 'Yusei Magic';
    font-size: 80px;
    padding: 0;
    text-align: center;
}

div#title img {
    width: 195px;
    position: relative !important;
}
button#begin {
    margin-top: 40px;
    padding: 10px 20px;
    font-family: 'Yusei Magic';
    font-size: 27px;
    background-image: linear-gradient(to right, #e1a205 , #fee370);
    border: 4px solid;
    border-radius: 60px;
}